# Python
venv/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# VS Code
.vscode/

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml

# Lambda packages
lambda/**/package/
lambda/**/*.zip

# OS
.DS_Store
Thumbs.db

*.pem